* {
    box-sizing: border-box;
}
@media (min-width: 992px) {
    #boxL {
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    #boxM1 {
        width: 50%;
    }

    #boxM2 {
        width: 100%;
    }
}
@media (max-width: 767px){
    #boxS {
        width: 100%;
    }
}
body{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
h{
    position: relative;
    left: 50%;
    top: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    width: 100%;
}
h1{
    background-color:pink;
}
h2{
    background-color: red;
    color: white;
}
h3{
    background-color: yellow;
}
div{
    background-color: grey;
    border: 3px solid;
    padding: 10px;
    margin: 20px;
    height: 200px;
    font-size: 75%;
}
p {
    background-color: green;
    padding: 10px;
    width: 80%;
    height: 70%;
    margin-top: 50px;
    font-size: 100%;
    overflow: scroll;
}
#header {
    position: relative;
    right: -18px;
    top: -13px;
    border: 2px solid black;
    float: right;
    padding-top: 13px;
    width: 30%;
    height: 30%;
    text-align: center;
    font-size: medium;
    margin: 5px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 100%;
    overflow: hidden;
}

